<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/clicks.css">
    <title>URL Clicks</title>
    
  </head>
  <body>
    <h1>URL Clicks</h1>
    <p>Short URL: <%= shortUrl %></p>
    <p>Number of Clicks: <%= clickCount %></p>

     <button class="btn" id="btn" ><a href="/dashboard">Back to Dashboard</a></button>
        <button class="btn" id="btn" ><a href="/logout">Logout</a></button>
  </body>
</html>
