<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>My Dashboard</h1>
    <h2>Welcome to the best link shortener you'd ever use.</h2>


    
    <div>
        <div class="yes">
            <h3>Get Started</h3>
            <button class="btn" id="btn" ><a href="/dashboard/new">SHORTEN LINK</a></button>
            <button class="btn" id="btn" > <a href="/clicks">VIEW LINK HISTORY</a></button>

            <div>

              <button class="btn-2" id="btn" > <a href="/logout">LOG OUT</a></button>
            
            </div>

        </div>
    </div>
  </body>
</html>
