<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username" required />
      <input type="password" name="password" placeholder="Password" required />
      <input type="submit" value="Login" />


      <div>
        <button class="btn" id="btn" > <a href="/register">Don't have an account? Register </a></button>
        <button class="btn" id="btn" > <a href="/">HOME</a></button>
      </div>

    </form>
  </body>
</html>
