body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  
  h1 {
    color: #000;
  }

  h2 {
    color: red;
  }
  
  a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #990000;
  }
  
  .btn-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-2:hover {
    background-color: red;
  }